###########################################################
################## Application Setup ######################
###########################################################
HOST=127.0.0.1
PORT=8000
DENO_ENV=development
APP_NAME=yourAppName
APP_URL="http://${HOST}:${PORT}"

### MONGODB ###############################################

MONGO_PORT=27017
MONGO_HOST=mongo
MONGO_ROOT_USER=yourAppName
MONGO_ROOT_PASSWORD=yourAppName

###########################################################
##################### Database Setup ######################
###########################################################
DB_CONNECTION=mongo
DB_HOST=localhost
DB_PORT=27017
DB_USER=yourAppName
DB_PASSWORD=yourAppName
DB_COLLECTION=yourAppName
DB_COLLECTION_TEST=yourAppNameTest
DB_ENTRYPOINT_INITDB=./docker-entrypoint-initdb.d
HASH_DRIVER=bcrypt

###########################################################
##################### API Setup ###########################
###########################################################
API_SUBTYPE=yourAppName
API_PREFIX=api
API_VERSION=v1
API_NAME="yourAppName"
API_DEFAULT_FORMAT=json
API_RELEASE=1

###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################
# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=.

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www/app/current

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=~/.your-app-name/data

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Docker compose files ##################################

# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names. This is useful if you have multiple projects that use deno-dark to have seperate containers per project.
COMPOSE_PROJECT_NAME=your-app-name

###########################################################
################ Containers Customization #################
###########################################################

DOCKER_FILE=Dockerfile.dev